.media {
   text-align:center;
   padding-top: 60px;
}

img {
   border: 5px solid rgb(255, 119, 0);
 }

 tr, th, td {
    text-align: center;
    border:1px solid black;
 }

 table {
   width: 90%;
 }

.summary {
   border-color: red;
   color: red;
}

.space {
   padding-top: 20px;
   padding-bottom: 20px;
}

.center {
   margin-left: auto;
   margin-right: auto;
}
